sample/ret_sample/__pycache__
sample/ret_sample/.ipynb_checkpoints
sample/__pycache__
__pycache__
temp.png
__pycache__

WebGUI/image/MeteoSanStrikeDesu
WebGUI/image/SaladDays_vol18
WebGUI/image/HinagikuKenzan
WebGUI/image/HarukaRefrain
WebGUI/image/Belmondo
WebGUI/image/LoveHina_vol14
WebGUI/image/GOOD_KISS_Ver2
WebGUI/image/YamatoNoHane
WebGUI/image/Arisa
WebGUI/image/AisazuNihaIrarenai
