#wrapper {
    overflow: hidden;
}

#slider {
    margin: 0 0 5px 0;
}

#tools_group {
    margin: 10px;
}

#edit_group {
    margin: 5px;
}

#slider_group {
    margin: 5px;
}

#left {
    float: left;
    width: 30%;
    text-align: center;
    margin: 10px;
    position: absolute;
    bottom: 0;
}

#right {
    float: right;
}

canvas {
    border: 1px solid;
    margin: 10px;
}

.images {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border: 1px solid;
    margin: 5px;
}

.images img {
    position: relative;
}
