#wrapper {
    overflow: hidden;
}

#slider {
    margin: 0 0 5px 0;
}

#tools_group {
    margin: 5px;
}

#edit_group {
    margin: 5px;
}

#left {
    float: left;
    width: 30%;
    text-align: center;
    margin: 10px;
}

canvas {
    border: 1px solid;
}

.images {
    width: 250px;
    height: 250px;
    overflow: hidden;
    border: 1px solid;
    margin: 10px;
    display: inline-block;
}

.images img {
    position: relative;
}
