#wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

#slider {
    margin: 0 0 5px 0;
}

#tools_group {
    margin: 10px;
}

#edit_group {
    margin: 5px;
}

#slider_group {
    margin: 5px;
}

#left {
    display: flex;
    flex-direction: column;
    width: 520px;
    text-align: center;
    margin: 10px;
}

#right {
    float: right;
}

#center {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    overflow: hidden;
}

#right {
    position: relative;
    display: none;
    float: right;
    text-align: center;
    margin: 10px;
    border: 1px solid;
    width: 35vw;
    height: 70vw;
    overflow: hidden;
}

canvas {
    border: 1px solid;
    margin: 10px;
}

.images {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border: 1px solid;
    margin: 5px;
}

.images img {
    position: relative;
}


img#manga_page_img {
  position: absolute;
  display: block;
  float: right;
  top: 0px;
  right: 0px;
}

#btn-close{
    position: absolute;
    top: 0px;
    right: 0px;
    text-align:center;
}

.square {
  position: absolute;
  border: 5px solid;
  border-color: #ff0000;
}
